/* using Materialize css */
body{
    /* background-color: bisque; */
    /* background-image: url(../images/image.png); */
    /* background-image: url(../images/charity1.png); */
    /*stretching image to fill  */
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center; 
    background-attachment: fixed;
}
#apiInputs{
    margin: 25px 0;
    padding: 20px;
    border: 1px solid lightgray;
    background-color: white;
}
#containerBody{
  
    background-color: blanchedalmond;
}



#rowOne{
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1kOhRnIjzoMP98e4QfxyeujiCbqrEhtW-H3LQH61lXK1dF72R-A');
    background-repeat: no-repeat;
    background-size: cover;
}
#infoOne{
   
    text-align: center;
    /* margin-left: 50px; */
    outline-color: blue;
    outline-width: 10px;
    /* background-color: aqua; */
    min-height: 300px;
}

/* #rowTwo{
    background-color: deeppink;
} */

#headerRow{
    
    text-align: center;
    margin-left: 50px;
    outline-color: blue;
    background: purple;
}
#infoOne button{
    background-color: lavenderblush;
    border: 1px solid gray;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    padding: 10px;
    margin: 15px;
    border-radius: 4px;
    font-size: bolder;

}
#infoOne button:hover{
    transform: scale(1.1);
    transition: 2s;
}
/* https://www.tutorialspoint.com/materialize/materialize_form.htm */

#pictureOne{
    background-image: url(../images/image.png);
    
}