/* importing google font */
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
/* using Materialize css */
body{
    /* background-color: bisque; */
    /* background-image: url(../images/image.png); */
    /* background-image: url(../images/charity1.png); */
    /*stretching image to fill  */
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center; 
    background-attachment: fixed;
}
h5{
    /* font-size: 280%; */
    font-family: 'Dosis', sans-serif;
}
list-group-item.articleHeadline{
    font-family: 'Dosis', sans-serif;
   color:  green; 
   padding-top: 10px;
   padding-right: 10px;
   padding-bottom: 10px;
   padding-left: 10px;

}


#apiInputs{
    margin-top: 20px;
    margin-left: 30px;
    padding: 20px;
    border: 2px solid darkgray;
    background-color: white;
    width: 400px;
    height: 265px;
    border-radius: 3px;
}
#search{
    background-color: black;
    color: white;
    border-radius: 3px;
}
#search:hover{
    transform: scale(1.1);
    transition: 1s;
    color: red;
}
label .active{
    color: black;
}
.input-field {
    margin-bottom: 0;
}
input:focus {
    border-bottom: 1px solid black !important;
    box-shadow: 0 1px 0 0 black !important;
}
.input-field input[type=text]:focus + label {
    color: red !important;
  }

#rowOne{
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1kOhRnIjzoMP98e4QfxyeujiCbqrEhtW-H3LQH61lXK1dF72R-A');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.card-title {
    font-family: 'Slabo 27px', serif;
    font-size: 48px;
    position: relative;
    top: 10px;
    width: auto;
}
.card-content {
    color: red;
    font-size: large;
    font-weight: bold;
}
.card .card-action {
    cursor: pointer;
    font-size: 15px!important;
    padding: 10px;
    text-decoration: underline;   
}

.card {
    text-align:center;
}

.moreInfoLink{
    padding-bottom: 5px;
    color: rgb(116, 116, 116)!important;
}
.moreInfoLink:hover{
    color: black!important;
}
/* https://www.tutorialspoint.com/materialize/materialize_form.htm */

#pictureOne{
    background-image: url(../images/image.png);
    
}
footer{
    bottom: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
}

@media only screen and (min-width: 320px) and (max-width: 480px){
    #apiInputs {
        width: auto;
    }
}
